{% extends '@E02/base.html.twig' %}

{% block title %}Form Submitted{% endblock %}

{% block content %}
    <h1>Form Submitted Successfully</h1>
    <p>Your message has been saved.</p>
    <a href="{{ path('e02') }}" class="btn btn-primary">Back to Form</a>
{% endblock %}
