{# templates/ex02/create_table.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <title>Create Table</title>
</head>
<body>
    <h1>{{ message }}</h1>
    <a href="{{ path('create_table') }}">Create Table</a>
</body>
</html>
