{# templates/ex01/create_table.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <title>Création de la table</title>
</head>
<body>
    <h1>Création de la table</h1>
    <p>{{ message }}</p>
    <a href="{{ path('create_table') }}">Créer la table</a>
</body>
</html>
